:root {
  --col-black: rgb(30, 30, 30);
  --col-white-dark: rgb(220, 220, 220);
  --col-white-light: rgb(245, 245, 245);
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    var(--col-white-dark),
    var(--col-white-light),
    var(--col-white-dark)
  );
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: var(--col-black);
  color: var(--col-white-dark);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header-container > h1 {
  font-family: "PT Serif", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0.4rem 0;
}

.nav-container > h2 {
  font-size: 1.25rem;
  margin: 0;
}

.nav-container,
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.nav-list {
  width: 100%;
  padding-left: 0;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: var(--col-white-dark);
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 3px;
  border: solid 1px var(--col-white-dark);

  transition: background-color 0.2s ease-out;
}

.nav-link:hover,
.nav-link:focus {
  background-color: var(--col-white-dark);
  color: var(--col-black);
  outline: none;
}

.grid-item > h2 {
  font-family: "PT Serif", sans-serif;
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.content-container {
  margin: 0.75rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.grid-item {
  border: solid 1px var(--col-black);
  border-radius: 8px;
  padding: 1.5rem;
  background: radial-gradient(var(--col-white-dark), white);
}

.grid-item {
  box-shadow: 0 0 8px transparent;
  transition: box-shadow 0.3s ease-in;
}

.grid-item:hover,
.grid-item:focus,
.grid-item:active {
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

img {
  max-width: 700px;
  width: 100%;
  border-radius: 5px;
}

.grid-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  margin: 0;
}

figcaption {
  color: rgb(80, 80, 80);
  font-size: 0.65rem;
}

footer {
  margin-top: auto;
}

footer a {
  color: var(--col-white-dark);
}

footer p {
  margin: 0;
  font-size: 0.8rem;
}

@media (min-width: 800px) {
  .nav-container,
  .nav-list {
    gap: 2rem;
    flex-direction: row;
  }

  .nav-list {
    flex-wrap: wrap;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .content-container {
    /* 
      Width 95% helps retain the left/right margins near the 800px breakpoint.
    */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  /* 
    Do something like this to rearrange
  */
  /* .grid-item-3 {
    grid-row: 2;
    grid-column: 2;
  } */

  footer .content-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}
