:root {
  --col-black: rgb(30, 30, 30);
  --col-white-dark: rgb(220, 220, 220);
  --col-white-light: rgb(245, 245, 245);
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    var(--col-white-dark),
    var(--col-white-light),
    var(--col-white-dark)
  );
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: var(--col-black);
  color: var(--col-white-dark);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header-heading {
  font-family: "PT Serif", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0.4rem 0;
}

.nav-projects-heading {
  font-size: 1.25rem;
  margin: 0;
}

.nav-container,
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.nav-list {
  width: 100%;
  padding-left: 0;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: var(--col-white-dark);
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 3px;
  border: solid 1px var(--col-white-dark);
  transition: background-color 0.2s ease-out;
}

.nav-link:hover,
.nav-link:focus {
  background-color: var(--col-white-dark);
  color: var(--col-black);
  outline: none;
}

.section-heading {
  font-family: "PT Serif", sans-serif;
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.content-container {
  margin: 0.75rem;
}

/* image styling */
.avatar {
  height: 60px;
  border-radius: 50%;
}

.img-container-landscape img {
  width: 100%;
}

.img-container {
  margin: 0;
  margin-bottom: 1.65rem;
}

.img-container img,
.img-container figcaption {
  display: block;
  margin: 0 auto;
}

.img-landscape, 
.img-container-landscape figcaption {
  max-width: 450px;
}

.img-portrait, 
.img-container-portrait figcaption {
  max-width: 350px;
}

.img-round-border {
  border-radius: 8px;
}

figcaption {
  font-size: 0.75rem;
  color: rgb(88, 88, 88);
}
/* end image styling */

.centered-text {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 1rem 0;
}

.grid-item {
  border: solid 1px var(--col-black);
  border-radius: 8px;
  padding: 1.5rem;
  background: radial-gradient(var(--col-white-dark), white);
}

.project-links > li {
  list-style: none;
  line-height: 1.35;
  text-indent: -10px;
}
  
footer {
  margin-top: auto;
}

footer p {
  margin: 0;
  font-size: 0.8rem;
}

/* shadow animation on hover */
.grid-item {
  position: relative;
}

.grid-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0 0 14px var(--col-black);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.grid-item:hover::after {
  opacity: 0.4;
}
/* end animation */

@media (min-width: 800px) {
  .nav-container,
  .nav-list {
    gap: 2rem;
    flex-direction: row;
  }

  .nav-list {
    flex-wrap: wrap;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .content-container {
    /* 
      Width 95% helps retain the left/right margins near the 800px breakpoint.
    */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }

  .img-small, .img-small + figcaption {
    display: block;
    margin: 0 auto;
    max-width: 400px;
  }

  /* 
    Do something like this to rearrange
  */
  /* .grid-item-3 {
    grid-row: 2;
    grid-column: 2;
  } */

  footer .content-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

@media (min-width: 1100px) {
  .img-container-portrait {
    float: right;
    margin-left: 1rem;
  }

  .img-portrait {
    max-width: 250px;
  }
}

@media (min-width: 1800px) {
  .content-container {
    max-width: 1600px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}